body {
    display: flex;

}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background color: transparent;
    color: #FAFAFA;
}
.wrapper {
    width: 600px;
    padding: 10 20px;
    display: flex;
}

